 @import "../images/icon_why";
  @import "global/reset";

.title {
	margin-bottom: 70px;
}
.Why-Django {
	background-color: #ffffff;
	margin: 0 auto;
}

.advantage {
	max-width: 900px;




	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}

	&-item {
		

		width: 230px;
		text-align: center;
		padding-bottom: 100px;
	}

	&-title {
		padding-bottom: 8px;

	}
	
}










