*, *::before, *::after {
	box-sizing: border-box;
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, body, ul, li {
	text-indent: 0;
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none; 
}

html {
	font-size: 10px;
}
img {
	display: block;
}