.blog {
    border-top: 2px solid $gray-2;

    &-inner {
        @include site-width;
        @include proportion(480px, 1024px);

        margin-top: 72px;
        position: relative;
    }
}

.articles {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: $white-1;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    height: 100%;
    padding: 34px;
    outline: 2px solid $white-1;
    background: center/cover no-repeat;

    &:nth-child(1) {
        width: 50%;
        background-color: $blue-2;
    }

    &:nth-child(2) {
        width: 50%;
        height: 50%;
        background-color: $brown-1;
    }

    &:nth-child(3) {
        width: 25%;
        height: 50%;
        background-color: $purple-1;
    }

    &:nth-child(4) {
        width: 25%;
        height: 50%;
        background-color: $turquoise-1;
    }

    &-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-date {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
    }

    &-day {
        @include font(rem(24px), 700);
        
        line-height: .83em;
    }

    &-month {
        font-size: rem(14px);
    }

    &-category {
        @include font(rem(14px), 500);

        padding: 8px;
        background-color: $dark-4;
    }

    &-title {
        @include font(rem(24px), 600);

        margin-top: auto;
    }

    &-link {
        @include font(rem(14px), 600);
        
        display: inline-block;
        flex-basis: auto;
        align-self: flex-start;
        max-width: 100%;
        padding: 6px 15px;
        margin-top: 25px;
        border: 1px solid $white-1;

        &:hover {
            outline: 1px solid;
        }
    }
}

@include respond-to(mobiles) {
    .blog {
        &-inner {
            @include proportion(560px, 375px);
        }
    }

    .articles {

    }

    .article {
        padding: 18px 14px;

        &:nth-child(1) {
            height: calc(2/3 * 100%);
        }

        &:nth-child(2),
        &:nth-child(3) {
            width: 50%;
            height: calc(1/3 * 100%);
        }

        &:nth-child(4) {
            width: 100%;
            height: calc(1/3 * 100%);
        }

        &-day {
            font-size: vw(22px, 375px);
        }

        &-month {
            font-size: vw(12px, 375px);
        }

        &-category {
            font-size: vw(10px, 375px);
        }

        &-title {
            @include font(vw(16px, 375px), 500);

            margin-top: 30px;
        }

        &-link {
            padding: 6px 38px;
            margin-top: auto;
            font-size: vw(14px, 375px);
        }
    }
}

@include respond-to(mobile-portrait) {
    .article {
        &-link {
            font-size: vw(12px, 375px);
        }
    }
}