.scroll {
	@include position(absolute, -20px, auto, auto, 50%);
	@include prefix(transform, translateX(-50%));
}

.features {
	background-color: $white-1;
	padding-top: 110px;
	position: relative;

	&-inner {
		@include site-width;
	}
}

.feature {
	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include respond-to(mobiles) {
			display: block;
		}
	}

	&-item {
		width: calc((100% - 33.398436%)/ 3);
		padding-bottom: 100px;
		margin: 0 5.566406%;
		text-align: center;

		@include respond-to(mobiles) {
			width: 88.8%;
			margin: 0 0 40px 4%;
			padding: 0;
			display: flex;
			position: relative;
			text-align: left;
		}

		&::before {
			content: "";
			display: block;
			margin: 0 auto 20px;

			@include respond-to(mobiles) {
				@include position(absolute, -10px);

				display: inline-block;
				margin: 0;
			}
		}
	}

	&-title {
		font-size: rem(24px);
		color: $gray-1;

		@include respond-to(mobiles) {
			font-size: rem(16px);
		}
	}

	&-description {
		font-size: rem(16px);
		margin-top: 8px;
		color: $gray-3;

		@include respond-to(mobiles) {
			font-size: rem(14px);
			margin-top: 8px;
		}	
	}
}

.item-inner {
	margin-left: 0;	

	@include respond-to(mobiles) {
		margin-left: 17.333333%;	
	}
}

.feature-item::before {
	height: 80px;
}

.feature-item.quality::before {
	background: url('../img/why/why_sprites.png') -10px -10px;
	width: 105px;

	@include respond-to(mobiles) {
		background: url('../img/why/why_sprites.png') -274px -194px;
		width: 55px;
		height: 34px;
	}
}

.feature-item.money::before {
	background: url('../img/why/why_sprites.png') -250px -10px;
	width: 84px;

		@include respond-to(mobiles) {
		background: url('../img/why/why_sprites.png') -134px -107px;
		width: 55px;
		height: 41px;
	}
}

.feature-item.unique::before {
	background: url('../img/why/why_sprites.png') -114px -194px;
	width: 73px;
	height: 80px;

		@include respond-to(mobiles) {
		background: url('../img/why/why_sprites.png') -354px -10px;
		width: 55px;
		height: 36px;
	}
}

.feature-item.warranty::before {
	background: url('../img/why/why_sprites.png') -10px -107px;
	width: 104px;

		@include respond-to(mobiles) {
		background: url('../img/why/why_sprites.png') -10px -289px;
		width: 55px;
		height: 31px;
	}
}

.feature-item.consulting::before {
	background: url('../img/why/why_sprites.png') -10px -194px;
	width: 84px;

		@include respond-to(mobiles) {
		background: url('../img/why/why_sprites.png') -250px -110px;
		width: 55px;
		height: 40px;
	}
}

.feature-item.team::before {
	background: url('../img/why/why_sprites.png') -135px -10px;
	width: 95px;

		@include respond-to(mobiles) {
		background: url('../img/why/why_sprites.png') -207px -194px;
		width: 55px;
		height: 37px;
	}
}