.feedback {
    height: 420px;
    color: $white-1;
    position: relative;
    
    @include respond-to(mobiles) {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        font-size: 0;
    }

    &-location {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        
        @include respond-to(mobiles) {
            width: 100%;
            position: static;
        }
    }

    &-map {
        width: 100%;
        height: 100%;

        @include respond-to(mobiles){
            height: 330px;
        }
    }

    &-content {
        @include position(absolute, 0, 26.7%, 0, auto);
        @include prefix(transform, translateX(50%));

        display: flex;
        flex-direction: column;
        width: 512px;
        padding: 30px 25px;
        background: $green-1;
        z-index: 2;

        @include respond-to(mobiles) {
            @include prefix(transform, none);

            width: 100%;
            padding: 45px 15px 30px;
            position: static;
        }
    }

    &-title {
        @include font(rem(24px), 500);

        @include respond-to(mobiles) {
            font-size: rem(22px);
            text-align: center;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        @include respond-to(mobiles) {
            width: 100%;
            font-size: rem(16px);
        }
    }

    &-inputs {
        display: flex;
        justify-content: space-between;
        
        @include respond-to(mobiles) {
            display: block;
        }
    }
}
