.header {
    @include box-shadow(0, -225px, 100px, -100px, $dark-2, true);

    height: 100vh;
    position: relative;
    overflow: hidden;
    color: $white-1;
    text-shadow: 1px 1px $dark-1;
    background: $dark-5;

    @include respond-to(mobiles) {
        box-shadow: inset 0 -225px 100px -100px $dark-2,
            inset 0 75px 100px -30px $dark-2;
    }

    &-video {
        @include position(absolute, 50%, auto, auto, 50%);
        @include prefix(transform, translate(-50%, -50%));

        z-index: -1;

        @include respond-to(desktop) {
            @include prefix(transform, translate(-50%, -50%) scale(1.35));
        }
    }

    &-inner {
        @include site-width;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        padding: 40px 0 72px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(mobiles) {
            position: relative;
            justify-content: center;
            text-shadow: none;
        }
    }

    &-text {
        text-align: center;
    }

    &-title {
        @include font(rem(44px), 300);

        text-transform: uppercase;

        @include respond-to(mobiles) {
            font-size: 6vw;
        }
    }

    &-description {
        margin-top: 10px;
        font-size: rem(24px);

        @include respond-to(mobiles) {
            margin-top: 20px;
            font-size: 4vw;
        }
    }
}
