.footer {
	padding: 30px 0 40px;
	color: $white-1;
	background-color: $gray-1;

	&-inner {
		@include site-width;

		display: flex;
		justify-content: space-between;
	}

	&-nav {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
	}

	&-copyright {
		@include font(rem(14px), 300);

		&-text {
			margin-top: 20px;
		}
	}

	&-socials {
		padding-top: 6px;
	}
}

.social {
	&-list {
		display: flex;
		font-size: 0;
	}

	&-item {
		& + & {
			margin-left: 20px;
		}
	}

	&-link {
		&:hover {
			color: $green-1;
		}

		&::before {
			font-size: rem(12px);
		}
	}
}

.contact {
	&-list {
		@include font(rem(18px), 500);

		display: flex;
		margin-top: 20px;
	}

	&-item {
		& + & {
			margin-left: 40px;
		}
	}

	&-link {
		padding-left: 25px;
		position: relative;

		&:hover {
			color: $green-1;
		}

		&::before {
			@include position(absolute, 50%, auto, auto, 0);
			@include prefix(transform, translateY(-50%));

			color: $green-1;
		}
	}
}
