.footer {
	padding: 30px 0 40px;
	color: $white-1;
	background-color: $gray-1;

	&-inner {
		@include site-width;

		display: flex;
		flex-direction: column;
	}

	&-nav {
		display: flex;
		align-items: center;
	}

	&-contacts {
		display: flex;
	}
}

.social {
	&-list {
		display: flex;
		font-size: 0;
	}

	&-item {
		
	}

	&-link {
		&::before {
			font-size: rem(12px);
		}
	}
}

.contact {
	&-list {
		display: flex;
	}
}