.header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: $white-1;
    text-shadow: 1px 1px $dark-1;
    background: rgba(0,0,0,.4);
    box-shadow: inset 0 -225px 100px -100px $dark-2;

    @include respond-to(mobiles) {
        text-shadow: none;
        box-shadow: inset 0 -225px 100px -100px $dark-2,
            inset 0 75px 100px -30px $dark-2;
    }

    &-video {
        z-index: -1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &-inner {
        @include site-width;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        padding: 40px 0 72px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(mobiles) {
            position: relative;
            justify-content: center;
        }
    }

    &-text {
        text-align: center;
    }

    &-services {

    }

    &-title {
        font-size: rem(44px);
        font-weight: 300;
        text-transform: uppercase;

        @include respond-to(mobiles) {
            font-size: rem(22px);
        }
    }

    &-description {
        margin-top: 5px;
        font-size: rem(24px);

        @include respond-to(mobiles) {
            font-size: rem(16px);
        }
    }
}

.logo {
    &-image {
        display: block;
    }

    &-side {
        display: none;

        @include respond-to(mobiles) {
            display: block;
            background: center no-repeat url(../img/logo-s.png);
            background-size: 160px 30px;
            width: 100%;
            height: 38px;
        }
    }
}

.nav {
    @include respond-to(mobiles) {
        position: fixed;
        top: 0;
        right: 100%;
        bottom: 0;
        z-index: 999;
        background: $dark-3;
    }

    &-inner {
        @include respond-to(mobiles) {
            height: 100%;
            width: 250px;
            padding-top: 18px;
            background: $gray-1;
        }
    }

    &-toggle {
        display: none;

        @include respond-to(mobiles) {
            &:checked {
                ~ .nav {
                    right: 0;
                    left: 0;
                }

                ~ .nav .logo-side {
                    position: static;
                }
            }
        }
    }

    &-label {
        font-size: rem(20px);
        color: $white-1;
        display: none;

        @include respond-to(mobiles) {
            display: inline-block;
            position: absolute;
            left: 0;
        }
    }

    &-list {
        display: flex;
        font-size: rem(14px);
        font-weight: 700;
        text-transform: uppercase;

        @include respond-to(mobiles) {
            padding: 30px;
            font-size: rem(16px);
            flex-direction: column;
        }
    }

    &-item {
        /* To prevent border affecting header-nav items position. */
        padding: 4px 0;
        border-bottom: 2px solid transparent;

        &.active,
        &:hover {
            color: $green-1;
            border-bottom-color: currentColor;
        }

        & + & {
            margin-left: 40px;
        }

        @include respond-to(mobiles) {
            border: none;
            list-style: disc;

            & + & {
                margin: 30px 0 0;
            }
        }
    }

    &-link {

    }
}

.services {
    display: flex;
    justify-content: space-around;

    @include respond-to(mobiles) {
        flex-wrap: wrap;
    }
}

.service {
    width: 170px;
    position: relative;
    padding-left: 68px;

    @include respond-to(mobiles) {
        width: 40%;
        margin-top: 40px;
        padding-left: 60px;
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: rem(45px);
        color: $green-1;
    }

    &-title {
        font-size: rem(24px);
        font-weight: 500;

        @include respond-to(mobiles) {
            font-size: rem(16px);
        }
    }

    &-description {
        margin-top: 5px;
        font-size: rem(16px);

        @include respond-to(mobiles) {
            font-size: rem(14px);
        }
    }
}
