.header {
    @include prefix(box-shadow, inset 0 -225px 100px -100px $dark-2);

    height: 100vh;
    position: relative;
    overflow: hidden;
    color: $white-1;
    text-shadow: 1px 1px $dark-1;
    background: rgba(0,0,0,.4);

    @include respond-to(mobiles) {
        box-shadow: inset 0 -225px 100px -100px $dark-2,
            inset 0 75px 100px -30px $dark-2;
    }

    &-video {
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include respond-to(desktop) {
            transform: translate(-50%, -50%) scale(1.35);
        }
    }

    &-inner {
        @include site-width;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        padding: 40px 0 72px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(mobiles) {
            position: relative;
            justify-content: center;
            text-shadow: none;
        }
    }

    &-text {
        text-align: center;
    }

    &-services {

    }

    &-title {
        @include font(rem(44px), 300);

        text-transform: uppercase;

        @include respond-to(mobiles) {
            font-size: 6vw;
        }
    }

    &-description {
        margin-top: 10px;
        font-size: rem(24px);

        @include respond-to(mobiles) {
            margin-top: 20px;
            font-size: 4vw;
        }
    }
}

.logo {
    &-image {
        display: block;
    }

    &-side {
        display: none;

        @include respond-to(mobiles) {
            display: block;
            width: 100%;
            height: 38px;
            background: center no-repeat url(../img/logo-s.png);
            background-size: 160px 30px;
        }
    }
}

.services {
    display: flex;
    justify-content: space-around;

    @include respond-to(mobiles) {
        flex-wrap: wrap;
    }
}

.service {
    width: 170px;
    padding-left: 68px;
    position: relative;

    @include respond-to(mobiles) {
        width: 40%;
        margin-top: 40px;
        padding-left: 60px;
    }

    &::before {
        @include position(absolute, 0, auto, auto, 0);

        position: absolute;
        left: 0;
        top: 0;
        font-size: rem(45px);
        color: $green-1;
    }

    &-title {
        @include font(rem(24px), 500);

        @include respond-to(mobiles) {
            font-size: 4.2vw;
        }
    }

    &-description {
        margin-top: 5px;
        font-size: rem(16px);

        @include respond-to(mobiles) {
            font-size: 3.7vw;
        }
    }

    &-facebook {
        @include respond-to(mobiles) {
            @include prefix(order, 4);
        }
    }

    &-crm {
        @include respond-to(mobiles) {
            @include prefix(order, 3);
        }
    }
}
