[class^="icon-"],
[class*=" icon-"] {
    &::before {
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon {
    &-facebook::before {
        content: "\e900";
    }

    &-user::before {
        content: "\e901";
    }

    &-monitor::before {
        content: "\e902";
    }

    &-mobile::before {
        content: "\e903";
    }
    
    &-burger::before {
        content: "\e904";
    }

    &-facebook-square::before {
        content: "\e905";
    }
    
    &-linkedin::before {
        content: "\e906";
    }

    &-mail::before {
        content: "\e907";
    }

    &-phone::before {
        content: "\e908";
    }

    &-twitter::before {
        content: "\e909";
    }
}
