[class^="icon-"],
[class*=" icon-"] {
    &::before {
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon {
    &-facebook:before {
        content: "\e900";
    }

    &-user:before {
        content: "\e901";
    }

    &-monitor:before {
        content: "\e902";
    }

    &-mobile:before {
        content: "\e903";
    }
}
