.nav {
    @include respond-to(mobiles) {
        @include position(fixed, 0, 100%, 0);

        z-index: 999;
        background: $dark-3;
    }

    &-inner {
        @include respond-to(mobiles) {
            height: 100%;
            width: 250px;
            padding-top: 18px;
            background: $gray-1;
        }
    }

    &-toggle {
        display: none;

        @include respond-to(mobiles) {
            &:checked {
                ~ .nav {
                    right: 0;
                    left: 0;
                }

                ~ .nav .logo-side {
                    position: static;
                }

                ~ .nav .nav-overlay {
                    @include position(absolute, 0, 0, 0, 0);
            
                    background-color: rgba(0,0,0,.4);
                    z-index: -1;
                }
            }
        }
    }

    &-label {
        font-size: rem(20px);
        color: $white-1;
        display: none;

        @include respond-to(mobiles) {
            display: inline-block;
            position: absolute;
            left: 0;
        }
    }

    &-list {
        @include font(rem(14px), 700);

        display: flex;
        text-transform: uppercase;

        @include respond-to(mobiles) {
            padding: 30px;
            font-size: rem(16px);
            flex-direction: column;
        }

        &-footer {
            font-weight: normal;
        }
    }

    &-item {
        /* To prevent border affecting header-nav items position. */
        padding: 4px 0;
        border-bottom: 2px solid transparent;

        &.active,
        &:hover {
            color: $green-1;
            border-bottom-color: currentColor;
        }

        & + & {
            margin-left: 40px;
        }

        @include respond-to(devices) {
            & + & {
                margin-left: 20px;
            }
        }

        @include respond-to(mobiles) {
            border: none;
            list-style: disc;

            & + & {
                margin: 30px 0 0;
            }
        }
    }

    &-link {
        @include respond-to(tablet) {
            font-size: 1.6vw;
        }
    }
}
