.portfolio {

	padding: 5.2% 0 9.375%;
	border-top: 2px solid $gray-2;
	
	@include site-width;
	@include respond-to(mobiles) {
		border: none;
	}

	&-inner {	
		overflow-y: scroll;
		height: 18.75%;
		width: 100%;	
	}	

	&-inner::-webkit-scrollbar {
		display: none;
		}	
	
	&-list {
		display: flex;
		justify-content: space-between;
		overflow-y: scroll;
		align-items: top;
		height: 18.75%;
		width: 400%;

		@include respond-to(mobiles) {
			height: 64%;
		}	

		.las-insurance {
			background: url(../img/portfolio/portfolio_1.jpg);
			box-shadow: inset 0 -45vw 20vw -25vw $blue-1;
			background-size: 100% 100%;
		}

		.college-push {
			background: url(../img/portfolio/portfolio_2.jpg);
			box-shadow: inset 0 -45vw 20vw -25vw $red-1;
			background-size: 100% 100%;
		}

		.kitovu-app {
			background: url(../img/portfolio/portfolio_3.jpg);
			box-shadow: inset 0 -45vw 20vw -25vw $pink-1;
			background-size: 100% 100%;
		}

		.pricedekho {
			background: url(../img/portfolio/portfolio_4.jpg);
			box-shadow: inset 0 -45vw 20vw -25vw $pink-2;
			background-size: 100% 100%;
		}

		&::after {
			content: "";
			display: block;
			padding-bottom: 18.75%;
		}
	}

	&-link::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
	}

	&-item {
		width: 100%;
		position: relative;
	
	}	

	&-title {
		position: absolute;
		bottom: 14.2%;
		left: 6%;
		font-family: $global-font-family;
		font-size: 4.5vw;
		font-weight: 500;
		color: $white-1;
	}

	&-description {
		position: absolute;
		bottom: 7%;
		left: 6%;
		font-family: $global-font-family;
		font-size: 3.5vw;
		font-weight: 500;
		color: $white-1;	
	}
}



