.social {
	&-list {
		display: flex;
        font-size: 0;
        
        @include respond-to(mobiles) {
		    margin-top: 20px;
        }
	}

	&-item {
		&.active,
		&:hover {
			color: $green-1;
		}

		& + & {
			margin-left: 20px;
		}
	}

	&-link {
		&::before {
			font-size: rem(12px);
		}
	}
}
