.title {
	font-size: 4rem;
	font-weight: normal;
	text-transform: uppercase;
	color: $gray-1;
	text-align: center;
	padding-top: 110px;
	
	@include respond-to(mobiles) {
		padding-top: 60px;
		font-size: 2.2rem;	
	}

	&-accent {
		color: $green-1;
	}

	&-portfolio {
		@include respond-to(mobiles) {
			padding-top: 10px;
		}
	}
}