html {
    font-size: $global-font-size;
    scroll-behavior: smooth;
}

body {
    font-family: $global-font-family;
}

input,
textarea {
    @include font(rem(18px), 400);

    font-family: $global-font-family;
    border-radius: 0; /* IE & Safari compatibility */
}
