html {
    font-size: $global-font-size;
    scroll-behavior: smooth;
}

body {
    font-family: $global-font-family;
}

input,
textarea {
    font-family: $global-font-family;
    font-weight: 400;
    font-size: 1.8rem;
}