/*
$base-font-size: 16;
font-size: rem(22);
*/
@function rem($px, $base: $global-font-size) {
    @return ($px / $base) * 1rem;
}

@mixin site-width($width: $global-site-width) {
    margin: 0 auto;
    max-width: $width;

    @include respond-to(mobiles) {
        padding-left: $global-mobile-padding;
        padding-right: $global-mobile-padding;
    }

    @include respond-to(tablet) {
        padding-left: $global-tablet-padding;
        padding-right: $global-tablet-padding;
    }
}

/*
@include respond-to(tablet) {
    .header {
        width: 100%;
    }
}
*/
@mixin respond-to($device) {
    /* 320px - 480px */
    @if $device == mobile-portrait {
        @media only screen and (min-width: $mobile-portrait) and (max-width: $mobile-landscape - 1) {
            @content;
        }
    }

    /* 480px - 767 px */
    @if $device == mobile-landscape {
        @media only screen and (min-width: $mobile-landscape) and (max-width: $tablet - 1) {
            @content;
        }
    }

    /* 320px - 767 px */
    @if $device == mobiles {
        @media only screen and (min-width: $mobile-portrait) and (max-width: $tablet - 1) {
            @content;
        }
    }

    /* 768px - 1019px */
    @if $device == tablet {
        @media only screen and (min-width: $tablet) and (max-width: $desktop - 1) {
            @content;
        }
    }

    /* 320px - 1019px */
    @if $device == devices {
        @media only screen and (min-width: $mobile-portrait) and (max-width: $desktop - 1) {
            @content;
        }
    }

    /* 1024-1919 */
    @if $device == desktop {
        @media only screen and (min-width: $desktop) {
            @content;
        }
    }
}


@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}


@mixin align($vertical:top, $display: inline-block) {
    display: $display;
    vertical-align: $vertical;
}

@mixin font($size: $global-font-size, $weight: normal, $style: normal, $line-height: normal) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $line-height;
}

@mixin position($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


@mixin prefix($property, $value, $vendors: webkit moz ms o) {
    @if $vendors {
        @each $vendor in $vendors {
            #{'-' + $vendor + '-' + $property}: #{$value};
        }
    }
    #{$property}: #{$value};
}

@mixin box-shadow($top: 0, $left: 0, $blur: 4px, $spread: 0, $color: transparent, $inset: false) {
    @if $inset {
        @include prefix(box-shadow, inset $top $left $blur $color);
    }
    @else {
        @include prefix(box-shadow, $top $left $blur $color);
    }
}

