/* Globals */
$global-font-size: 10px;
$global-font-family: 'Futura PT', sans-serif;
$global-site-width: 1024px;
$global-mobile-padding: 15px;
$global-tablet-padding: 20px;

/* Colors */
$white-1: #ffffff;
$gray-1: #666666;
$gray-2: #cccccc;
$gray-3: #999999;
$brown-1: rgba(247, 181, 90, .4);
$red-1: #ae555d;
$pink-1: #7f3a6a;
$pink-2: #614d73;
$green-1: #89b61e;
$blue-1: #4865b9;
$blue-2: rgba(96, 185, 232, .4);
$dark-1: rgba(0, 0, 0, .2);
$dark-2: rgba(0, 0, 0, .6);
$dark-3: rgba(0, 0, 0, .7);
$dark-4: rgba(40, 40, 40, .2);
$dark-5: rgba(0, 0, 0, .4);
$purple-1: rgba(147, 123, 177, .4);
$turquoise-1: rgba(32, 193, 162, .4);

/* Media */
$mobile-portrait: 320px; /* Vertically oriented phone */
$mobile-landscape: 480px; /* Horizontally oriented phone */
$tablet: 768px; /* Vertically oritented tablet */
$desktop: $global-site-width;